.modal {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: -300%;
    opacity: 0;
    background: rgba(5, 11, 49, 0.82);
    transition: all $transition_fast $transition_fast, opacity $transition_fast;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 80;
    overflow-y: auto;
    padding-left: 30px;
    padding-right: 30px;

    &__container {
        margin: 20px 0;
        padding: 48px 55px 41px;

        border-radius: 20px;
        box-shadow: $shadow_1;

        position: relative;
        z-index: 81;
    }

    &__header {
        font-weight: 700;
        font-size: $fsz * 2;
        text-transform: uppercase;
        color: $color_white_1;
        margin-bottom: 25px;
    }

    &__text {
        font-size: $fsz / 12 * 17;
        line-height: 126%;
        color: $color_white_1;
    }

    &__cross {
        width: 15px;
        height: 15px;
        display: block;
        cursor: pointer;

        position: absolute;
        top: 17px;
        right: 17px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 0;
            width: 141%;
            background: $color_gray_2;
            border: 1px solid $color_gray_2;
            border-radius: 1px;

            top: 50%;
            left: 50%;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &.active {
        left: 0;
        opacity: 1;
        transition: all $transition_fast, opacity $transition_fast $transition_fast;
    }
}
