.choiseus {
    background: $color_bg_secondary;
    &__container {
        padding-top: 90px;
        padding-bottom: 80px;
    }

    &__header {
        margin-bottom: 72px;
        text-align: center;
    }
}

.choiseus .swiper-slide {
    text-align: center;
    height: calc((100% - 30px) / 2) !important;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.iconcard {
    &__imgbox {
        flex-shrink: 0;
        width: 93px;
        height: 93px;
        background: $color_green_1;
        border-radius: 50%;
        box-shadow: $shadow_2;
        position: relative;
        margin-bottom: 22px;
    }

    &__img {
        position: absolute;
        object-fit: contain;
        width: 60%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__text {
        font-size: $fsz / 2 * 3;
        line-height: 124.5%;
        color: $color_white_1;
        padding: 0 10px;
        text-align: center;
        max-width: 263px;
    }
}

.choiseus .swiper {
    height: 500px;

    @media (max-width: 1300px) {
        height: 250px;
    }
}
.choiseus .swiper-pagination {
    bottom: 0;
}
