// Брейкпоинты
$width_1: 1530px;
$width_2: 1140px;
$width_3: 950px;
$width_4: 700px;
$width_5: 350px;

// Шрифты
$font-1: "Proxima Nova";

// Размер шрифта
$fsz: 12px;

// Цвета
$color_bg_main: #282b38;
$color_bg_secondary: #363a4d;

$color_white_1: #fff;

$color_gray_1: #cbcbcb;
$color_gray_2: #7e839a;

$color_black_1: #212121;

$color_orange_1: #e58d35;
$color_orange_2: #b26519;

$color_green_1: #89c249;

$color_darkblue_1: #282b38;

$color_red_1: #e53535;

$shadow_1: 5px 15px 40px rgba(5, 11, 49, 0.32);
$shadow_2: 0px 4px 13px rgba(30, 35, 66, 0.11);
$shadow_3: 5px 15px 40px rgba(30, 35, 66, 0.15);

// Задержки
$transition_fast: 0.3s;
$transition_middle: 0.6s;
$transition_slowly: 0.9s;

$transition_menu: $transition_slowly;

// Миксины
