.welcome {
    box-shadow: $shadow_1;
    overflow: hidden;
    z-index: 12;

    &__swiper {
        // height: 87vh;
    }

    &__screen {
        background-image: linear-gradient(94.52deg, rgba(4, 5, 17, 0.72) 1.89%, rgba(88, 88, 88, 0) 65.32%);
        min-height: 100%;
        display: flex;
    }

    &__container {
        flex: 0 1 $width_2;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__main {
        max-width: 465px;
        @media (max-width: $width_4) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
    }

    &__header {
        font-weight: 700;
        font-size: $fsz / 3 * 14;
        line-height: 126%;
        text-transform: uppercase;
        color: $color_white_1;

        margin-bottom: 8px;

        @media (max-width: $width_4) {
            font-size: $fsz / 3 * 8;
            text-align: center;
        }
    }

    &__text {
        font-weight: 400;
        font-size: $fsz / 3 * 4;
        line-height: 135.5%;
        color: $color_white_1;

        margin-bottom: 37px;

        @media (max-width: $width_4) {
            text-align: center;
        }
    }

    &__request-button {
        @media (max-width: $width_4) {
            min-width: 295px;
        }
    }
}

// Стили для swiper'a

.welcome__swiper .swiper-slide {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome__swiper .swiper-lazy-preloader {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border: 5px solid $color_bg_secondary;
    border-top-color: transparent;
}

// Стили навигации swiper'a

.welcome__swiper .swiper-custom-button {
    display: block;
    position: absolute;
    width: 10%;
    height: 100%;
    bottom: 0;
    transition: all $transition_fast;
    cursor: pointer;
    z-index: 11;
}

.welcome__swiper .swiper-custom-button-prev {
    left: 0;

    &:hover {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

.welcome__swiper .swiper-custom-button-next {
    right: 0;

    &:hover {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

@media (max-width: $width_1) {
    .welcome__swiper .swiper-custom-button {
        width: 50px;
        height: 50px;
        bottom: 20px;
        border-radius: 15px;
    }

    .welcome__swiper .swiper-custom-button-prev {
        left: 20px;
    }

    .welcome__swiper .swiper-custom-button-next {
        right: 20px;
    }
}

@media (max-width: $width_4) {
    .welcome__swiper .swiper-custom-button {
        display: none;
    }
}

.welcome__swiper .swiper-custom-button-disabled:hover {
    background: none;
    cursor: auto;
}

.welcome__swiper .swiper-custom-button__arrow {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
    }
}

.welcome__swiper .swiper-custom-button-prev .swiper-custom-button__arrow::after {
    border-left: 2px solid $color_white_1;
    border-bottom: 2px solid $color_white_1;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%) rotate(45deg);
}

.welcome__swiper .swiper-custom-button-next .swiper-custom-button__arrow::after {
    border-right: 2px solid $color_white_1;
    border-bottom: 2px solid $color_white_1;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%) rotate(-45deg);
}

// Стили пагинации swiper'a

.swiper-pagination-bullet {
    background: none;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
    border: 2px solid $color_white_1;

    .swiper-pagination-clickable & {
        cursor: pointer;
    }
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: $color_white_1;
}
