.order {
    &__container {
        position: relative;
        padding-top: 97px;
        padding-bottom: 110px;

        &::after {
            content: "";
            position: absolute;
            z-index: 11;
            width: $width_2;
            height: 100%;
            bottom: 0;
            left: 57%;
            background: url(../src/img/calculate/man.png) 262% bottom / 110% no-repeat;

            @media (max-width: 1278px) {
                left: 64%;
            }
            @media (max-width: 999px) {
                left: 65%;
            }
            @media (max-width: $width_3) {
                display: none;
            }
        }
    }

    &__subcontainer {
        width: 60%;
        margin-right: auto;

        @media (max-width: 1278px) {
            width: 69%;
        }
        @media (max-width: 999px) {
            width: 73%;
        }
        @media (max-width: $width_3) {
            width: 100%;
        }
    }

    &__header {
        margin-bottom: 82px;
        position: relative;

        @media (max-width: 1300px) {
            text-align: center;
        }

        &::after {
            content: "";
            position: absolute;
            right: 40px;
            bottom: 25%;
            border-bottom: 2px solid $color_green_1;
            width: 85px;
            height: 0;

            @media (max-width: 1300px) {
                bottom: -23px;
                right: 50%;
                transform: translate(50%, 0);
            }
        }
    }

    & .swiper-slide {
        border-radius: 20px;
    }
}

.order__form {
    position: relative;

    & .slider-pagination {
        position: absolute;
        top: 0;
        left: 50px;
        display: flex;
        transform: translate(0, -50%);
        z-index: 10;

        @media (max-width: $width_4) {
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    & .slider-pagination-item {
        border-radius: 50%;
        background-color: $color_bg_main;
        border: 1px solid $color_bg_secondary;
        width: 60px;
        height: 60px;
        margin-right: 41px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 700;
        font-size: $fsz * 2;
        line-height: 126%;
        color: $color_white_1;
        position: relative;
        left: 0;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            background-color: $color_green_1;
            border: 1px solid $color_green_1;
        }

        &.invalid {
            animation: invalid-paggination $transition_middle * 2;
        }
    }
}

.order__slider {
    & .modal__container {
        max-width: 354px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@keyframes invalid-paggination {
    0% {
        background-color: $color_green_1;
        border: 1px solid $color_green_1;
    }

    50% {
        background-color: $color_red_1;
        border: 1px solid $color_red_1;
        box-shadow: 0 0 10px 5px $color_red_1;
    }

    100% {
        background-color: $color_green_1;
        border: 1px solid $color_green_1;
        box-shadow: none;
    }
}

.modal-button {
    max-width: 250px;
    margin-top: 30px;
}
