.about {
    &__container {
        padding: 80px 20px 30px 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__left {
        flex: 0 0 50%;
        @media (max-width: $width_4) {
            flex: 0 0 100%;
        }
    }

    &__header {
        margin-bottom: 65px;

        @media (min-width: $width_2) {
            &::after {
                right: inherit;
                left: 0;
            }
        }
    }

    &__text {
        font-size: $fsz / 2 * 3;
        line-height: 170%;
        color: $color_white_1;

        @media (min-width: $width_4) {
            font-size: $fsz / 3 * 4;
            line-height: 120%;
        }
    }

    &__paragraph {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__right {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: $width_4) {
            flex: 0 0 100%;
            margin-top: 30px;
        }
    }

    &__bgimg {
        width: 90%;
        padding-bottom: 90%;
        background: $color_bg_secondary;
        border-radius: 50%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0%;
            left: 5%;
            width: 105%;
            height: 105%;

            background: url("../src/img/about/board.png") center center / 100% no-repeat;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0%;
            left: -25%;
            width: 100%;
            height: 100%;

            background: url("../src/img/about/pen.png") center center / 100% no-repeat;
        }
    }
}
