.options {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    &__container {
        padding: 100px 20px;
    }

    &__header {
        margin-bottom: 70px;
        text-align: center;
    }

    &__slider {
        padding-bottom: 40px;
    }
}

.options .swiper-pagination {
    bottom: 0;
}

.optioncard {
    background: $color_bg_secondary;
    box-shadow: $shadow_3;
    border-radius: 20px;
    overflow: hidden;

    &__img {
        width: 100%;
        padding-bottom: 64%;
        margin-bottom: 27px;
    }

    &__body {
        margin-bottom: 18px;
    }

    &__header {
        font-weight: 700;
        font-size: $fsz / 6 * 11;
        line-height: 124.5%;
        text-align: center;
        color: $color_white_1;
        margin-bottom: 11px;
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }

    &__item {
        display: flex;
        align-items: flex-end;
    }

    &__icon {
        width: $fsz / 6 * 11;
        height: $fsz / 6 * 11;
        margin-right: 10px;
    }

    &__text {
        font-size: $fsz / 3 * 4;
        color: $color_white_1;
    }

    &__price {
        font-size: $fsz / 6 * 11;
        line-height: 124.5%;
        text-align: center;
        color: $color_white_1;
    }

    &__price-timing {
        color: #a3a3a3;
    }

    &__price-item {
        font-size: $fsz / 4 * 15;
        font-weight: 700;
    }

    &__buttons {
        margin-bottom: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    &__button {
        padding: 14px 17px;
        font-weight: 600;
        font-size: $fsz / 4 * 5;
        line-height: 146%;
        color: $color_white_1;
        text-align: center;
        flex: 0 0 48%;
    }
}

.options .swiper-options-button {
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 0;
    z-index: 11;
    transition: all $transition_fast;
    cursor: pointer;

    @media (max-width: 1300px) {
        display: none;
    }
}

.options .swiper-options-button-prev {
    left: 0;

    &:hover {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

.options .swiper-options-button-next {
    right: 0;

    &:hover {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }
}

.options .swiper-options-button.disabled {
    opacity: 0.8;
}

.options .swiper-options-button.disabled:hover {
    background: none;
    cursor: auto;
}

.options .swiper-options-button__arrow {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
    }
}

.options .swiper-options-button-prev .swiper-options-button__arrow::after {
    border-left: 2px solid $color_white_1;
    border-bottom: 2px solid $color_white_1;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%) rotate(45deg);
}

.options .swiper-options-button-next .swiper-options-button__arrow::after {
    border-right: 2px solid $color_white_1;
    border-bottom: 2px solid $color_white_1;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%) rotate(-45deg);
}
